---
- name: Perform dist-upgrade
  apt:
    upgrade: dist
  register: upgrade_output
  when: upgrade_needed

- name: Check if reboot is required
  stat:
    path: /var/run/reboot-required
  register: reboot_required_file
  when: upgrade_needed

- name: Reboot the switch if required
  reboot:
    msg: "Rebooting for OS upgrade"
    connect_timeout: 5
    reboot_timeout: 600
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: whoami
  when: (reboot_required_file.stat.exists or upgrade_output.changed) and upgrade_needed

- name: Wait for switch to return
  wait_for_connection:
    delay: 60
    timeout: 600
  when: (reboot_required_file.stat.exists or upgrade_output.changed) and upgrade_needed
