---
- name: Show current version
  debug:
    msg: "Current OS version is {{ ansible_distribution_version }}"

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: not skip_update | default(false)

- name: Get installed version of cumulus-platform
  shell: apt-cache policy cumulus-platform | grep Installed | awk '{print $2}'
  register: installed_version
  changed_when: false
  check_mode: false

- name: Get candidate version of cumulus-platform
  shell: apt-cache policy cumulus-platform | grep Candidate | awk '{print $2}'
  register: candidate_version
  changed_when: false
  check_mode: false

- name: Show versions
  debug:
    msg: 
      - "Installed version: {{ installed_version.stdout }}"
      - "Candidate version: {{ candidate_version.stdout }}"

- name: Check if upgrade is required
  set_fact:
    upgrade_needed: "{{ installed_version.stdout != candidate_version.stdout and candidate_version.stdout != '' }}"

- name: Confirm upgrade status
  debug:
    msg: "Upgrade required: {{ upgrade_needed }}"
